body {
  margin: 0;
  /* Example usage */
  font-family: 'Wolf Brothers', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wolf-brothers-font {
  font-family: 'Wolf Brothers', sans-serif;
  margin-bottom: 16px; /* Adjust margin as needed */
}
